* {
    font-family: 'Lato', sans-serif;
}

h1 {
    text-align: center;
    color: white;
}



input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
#titlewrapper {
    overflow: hidden;
}

#title {
    font-size: 3em;
    margin-bottom: 5%;
}

#loginbox {
    background-color: white;
    width: 300px;
    height: 130px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
}

input {
    font-size: 1.5em;
}

#username {
    border: none;
    border-bottom: 2px solid grey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    padding-left: 8px;
    width: 295px;
    height: 65px;
    margin-left: 5px;
}

#password {
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 13px;
    width: 300px;
    height: 65px;
    border-bottom: 2px solid grey;
}



#submitbutton {
    width: 250px;
    height: 65px;
    display: block;
    margin: auto;
    margin-top: 160px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: orange;
    font-weight: bold;
    font-size: 1.8em;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-duration: 1s;

   
}

#entireloginwrapper {
     height: 350px;
     position: absolute;
     top: 0; left: 0; bottom: 0; right: 0;
     margin: auto;
}

#hiddentext {
    color: white;
    text-align: center;
    font-size: 1.5em;
    height: 100px;
    width: 300;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
   
}

#footer {
    width: 100%;
    display: block;
    position: fixed;
    bottom: 0%;
    text-align: center;
    
}

#registerwrapper {
    background-color: white;
    width: 300px;
    height: 0px;
    margin: 0% auto;
    border-radius: 10px;
    -webkit-transition: ease-out 1s linear;
    -moz-transition: ease-out 1s linear;
    -o-transition: ease-out 1s linear;
    -ms-transition: ease-out 1s linear;
    transition: ease-out 1s linear;
    z-index: 0;
}

.signupbox {
    border: none;
    border-bottom: 2px solid grey;
    padding-left: 8px;
    width: 295px;
    height: 65px;
    margin-left: 5px;
}

#regpassword {
    border-bottom-right-radius: 0px;
}

#name {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
}
#registertrigger {
    border: none;
    color: white;
    background: none;
    text-align: center;
}

#gender {
    width: 300px;
    height: 35px;
    display: block;
    color: grey;
    border: 2px solid;
    font-size: 1.5em;
    border: none;
    padding-left: 13px;
}