* {
    font-family: 'Lato', sans-serif;
}

header {
    position: relative;
    background-color:#00CC66;
    height: auto;
    left: 0;
    right: 0;
    overflow:auto; 

}

h1 {
    text-align: center;
    color: white;
    margin-top: 0%;
}

a {
    text-decoration: none;
}


    

#footer {
    display: block;
    position: fixed;
    bottom: 0%;
    margin: 0% auto;
    left: 0;
    right: 0;
    background-color:#00CC66;
 
}

#buttoncontainer {
    width: 311px;
    margin: 0% auto;
    padding: 10px 0px 10px 0px;
    text-align:center;
    
}
.texticoncontainer { 
    display: inline-block;
    width: 50px;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}

.icon_text {
    color: white;
    width: 50px;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    line-height: 12px;
}

.footericon {
    width: 50px;
    height: auto;
}

